# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Java
*.class
*.jar
*.war
*.ear
target/
out/
.classpath
.project
.settings/
*.iml
.idea/

# JavaScript / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
